doctype html
html
  head
    title satisfeet manager
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    include ../includes/header
    include ../includes/content
    script(src='/javascripts/build.js')
