main.container
  div.row
    aside.col-xs-3#sidebar
      ul.nav.nav-pills.nav-stacked.well.well-sm
        li: a(href='/customers/list') List Customers
        li: a(href='/customers/create') Create Customer
    section.col-xs-9#content
      block content
