doctype html
html
  head
    title satisfeet manager
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
  body
    include header
    include content
    script(src='/javascripts/build.js')
