extends ../layout

block content
  div.row
    div.col-xs-3
      h4 Actions
      ul.nav.nav-pills.nav-stacked
        li: a(href='/customers') List Customers
        li: a(href='/customers/create') Create Customer
    div.col-xs-9
      block content-inner
