form.form-inline(action='/customers', role='form')
  fieldset
    div.form-group
      div.input-group.input-group-lg
        input.form-control.input-lg(name='query', type='text',
          placeholder='What are you searching for?', required=true)
        span.input-group-btn
          button.btn.btn-primary Search
