table.table.table-striped.table-hover
  thead
    tr
      th ID
      th Company
      th Surname
      th Forename
      th Email
      th Street
      th Nr
      th Zip
      th Place
  tbody
    for customer in customers || []
      include item
