main.container
  div.row
    div.col-xs-2
      ul.nav.nav-pills.nav-stacked
        li: a(href='/customers/list') List Customers
        li: a(href='/customers/create') Create Customer
    div.col-xs-10
      section#content
        block content
